APP_NAME="Your App Name"
APP_VERSION=1.0.0
DEBBUG=True                                        #@db если для докера
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/trace_db
SECRET_KEY=super-secret-key-change-this-first
ALGORITHM=HS265